:root {
  --primary: hsl(29, 100%, 53%);
  --primary-dark: hsl(29, 100%, 43%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../assets/images/Paw.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.register {
  max-width: 1200px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin-top: 20px;
}

.form {
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

.input,
.btn {
  border: 1px solid var(--primary);
  padding: 0.9em 1em;
  color: var(--primary);
}

.btn:hover {
  background-color: var(--primary-dark);
}

.input {
  width: 100%;
  border-radius: 7px;
}

.input:focus {
  outline: none;
}

.btn {
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex {
  display: flex;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.flex-col {
  flex-direction: column;
}

.col-1 {
  margin: auto;
  padding: 4em 0;
  color: var(--primary);
}

.col-1 h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.col-1 input[type="radio"] {
  border-color: var(--primary);
  color: var(--primary);
}

.col-1 label {
  color: orange;
}

.col-1 input[type="email"],
.col-1 input[type="password"] {
  border-color: var(--primary);
  color: var(--primary);
}

.col-1 p {
  text-align: center;
}

.col-2 img {
  width: 600px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

.col-2 p {
  text-align: center;
  font-size: 1.5em;
  padding-top: 1em;
}

.my-2 {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 860px) {
  .register {
    flex-direction: row;
  }
  .col-2 img {
    display: initial;
  }
}
